---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/bitmojis/sunglasses.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">THE ELIXER OF LIFE:)</h2>
        <ProjectsWrapper projects={featureProjects} />
         <!-- write a section title here -->

        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
          
          <video width="525" height="300" controls>
            <source src="https://d3r79mq1hy3e5j.cloudfront.net/succession.mov" type="video/mp4">
          </video>
         
          <video width="525" height="300" controls>
            <source src="https://d3r79mq1hy3e5j.cloudfront.net/interstellar.mov" type="video/mp4">
          </video>
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 mt-0 mb-0">
          
          <video width="525" height="300" controls>
            <source src="https://d3r79mq1hy3e5j.cloudfront.net/clair.mov" type="video/mp4">
          </video>
          <video width="525" height="300" controls>
            <source src="https://d3r79mq1hy3e5j.cloudfront.net/godfather.mov" type="video/mp4">
          </video>
        </div>
      </section>
    </Layout>
  </body>
</html>
